
<a href="/rooms" style="float:left;"><img src="/61972.png" width=30px;height=30px;></a>
<% if user_signed_in? && (can? :create, Amenity.new) %>
<a href="/amenities/new" style="float:right;"><img src="/add1.png" width=30px;height=30px;></a>
<% end %>
</br></br></br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amenities.each do |amenity| %>
      <tr>
        <td><%= link_to amenity.name, amenity_path(amenity.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @amenities %>