<div class =" container">

<% if user_signed_in?%>
	<% if (can? :update, @amenity)%>
		<b style="float:right"><%= link_to "Edit", edit_amenity_path(@amenity) %></b>
	<% end %>
	<% if can? :destroy, @amenity %>
        <b style="float:right;"><%= link_to "Delete", method: :delete, data: { confirm: 'Are you sure?' } %></b>
	<% end %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @amenity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @amenity.description %>
</p>

</div>