 <div class="container">
  <% if @book.errors.any? %>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <% @book.room.bookings.each do |date|%>
    <%if !(date.end_date < Date.today) %>
      <%= date.start_date %>  to  <%= date.end_date %>
    <%end%>
  <%end%> 
</div>
