<a href="/rooms" style="float: left;";><img src="/61972.png" width=30px;height=30px;></a><br><br>

Hi      <%= @book.user.username.capitalize %>!
<p> Your booked room Details</p>
<p>Start Date : <%= @book.start_date%><br> End Date : <%= @book.end_date %></p>
<p>Price : <%= @book.price %></p>