<div class = "container">
Hi      <%= @book.user.username.capitalize %>!<br/>
<p> You booked room successfully for the Below dates</p>
<p>Start Date : <%= @book.start_date%><br> End Date : <%= @book.end_date %></p>
<p>Price : <%= @book.price %></p>
</div>