<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Choose Payment</h3>
			<form action="/redirect_payment_page" method="/get">
				<input type="radio" name="payment_type" value="Paytm">Paytm<br/>
				<input type="radio" name="payment_type" value="Cashfree">Cashfree<br/><br/>
				<input type="submit" name="Create Payment">
			</form>
		</div>
	</div>
</div>