<div class = "container">
	<div class = "col-md-6">
	<% if @r.empty? %>
		<h1>You dont have any rooms.</h1>
	<% else %>
	<table class= "table">
		<tr><th>Name</th><th>Approved</th></tr>
		<tr>
			<% @r.each do |room| %>
				<td><%= link_to room.name, room_path(room.slug) %></td>
				<td><% if  room.is_authorized?%>Yes<% else %> No<% end %></td></tr>
			<% end %>
	</table>
	<% end %>
</div>

</div>