<div class = "container">
      <%# if user_signed_in? && (can? :create, City.new)%>
        <%#= link_to new_city_path do %>
          <!-- <i class = "glyphicon glyphicon-plus">Add City</i> -->
      <%# end %>
      <%# end %>
          <% @cities.each do |city| %>
              <p><%= link_to city.name, city %></p>
          <% end %>
      <%= will_paginate @cities %>

</div>