<div class = "container">
      <% if user_signed_in? && (can? :create, City.new)%>
        <%= link_to new_city_path do %>
          <i class = "glyphicon glyphicon-plus">Add City</i>
      <% end %>
      <% end %>
      
      <table>
        <thead>
          <tr>
            <th>Name</th>
            
          </tr>
        </thead>

        <tbody>
          <% @cities.each do |city| %>
            <tr>
              <td><%= link_to city.name, city %></td>
                 </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @cities %>

</div>