<%= form_tag('/enquiries') do %>
  <div class="col-sm-6 form-group">
    <input class="form-control" id="subject" name="subject" placeholder="Subject" type="text" required>
  </div>
  <div class="col-sm-6 form-group">
    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
  </div>
  <div>
    <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3"></textarea><br/>
    <input class="btn btn-default" type="submit">
  </div>
<% end %>